/* 
    ./pages/party/party.css
*/

/* Party Container*/
.party-container{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.party-container h3{
    font-size: 0.75em;
}

.party-container img{
    width: 150px;
    height: 161px;
}

.performers-container{
    grid-column: 1 / 3;
    margin: auto;
    
}

.sadie-container{
    float: left;
}
.oliver-container{
    float: left;
}

.staff-container{
    grid-column: 1 / 3;
}
