body {
  background-color: rgb(225, 231, 233);
  
}

.app {
  display: grid;
  grid-template-columns: 10rem auto auto auto;
  grid-gap: 0.0em;
  padding: 2em;
}
.header, .navigation {
  background-color: rgb(230, 230, 255);
}


.navigation {
  grid-column: 1 / 2;
}

.navigation ul {
  margin: 0em;
  padding: 0.25em 0em 0em 0em;
  text-align: center;
  list-style: none;
}

.navigation li {
  padding: 0.5em;
}

.content {
  height: 65vh;
  width: 100%;
  overflow-y: scroll;
  background-color: white; 
  grid-column: 2 / 5;
}

@media screen and (max-width: 650px){
  body{
    overflow: scroll;
  }

  .navigation {
      grid-column: 1 / 5;
  }

  .content {
      grid-column: 1 / 5;
  }
}