@font-face {
    font-family: 'super_mario_brothersregular';
    src: url('./fonts/mario-title-webfont.woff2') format('woff2'),
         url('./fonts/mario-title-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'emulogicregular';
    src: url('./fonts/emulogic-webfont.woff2') format('woff2'),
         url('./fonts/emulogic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'super_plumber_brothersregular';
    src: url('./fonts/mario-font-webfont.woff2') format('woff2'),
         url('./fonts/mario-font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}